.bg-orange {
    background-color: orange;
}

h2 {
    text-align: center;
}

.fab {
    margin-top: 25px;
    font-size: 50px;
    width: 100px;   
    height: 100px;
}

.circle { 
    width: 100px;   
    height: 100px;
    /* background-color: slategray; */
}
